.user-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  max-width: fit-content;
  font-size: 15px;
  font-weight: 600;
  background-color: #c7e27e;
  border: 2px solid rgb(150, 145, 145);
  border-radius: 5px;
}
